@page
@model BPCalculator.Pages.BloodPressureModel

@{
    ViewData["Title"] = "Personel Health Checker";
    Layout = "_Layout";
}

<div class="row">
  <div class="col-sm-6">
    <div class="card text-white bg-secondary mb-3">
      <div class="card-body">
        <h5 class="card-title">Personel Health Data</h5>
           <form method="post" id="form3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
              <label asp-for="BP.Age" class="control-label"></label>
              <input asp-for="BP.Age" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BP.Systolic" class="control-label"></label>
                <input asp-for="BP.Systolic" class="form-control" />
                <span asp-validation-for="BP.Systolic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BP.Diastolic" class="control-label"></label>
                <input asp-for="BP.Diastolic" class="form-control" />
                <span asp-validation-for="BP.Diastolic" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <label asp-for="BP.Resting" class="control-label"></label>
                 <input asp-for="BP.Resting" class="form-control" />
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
            </div>
            <input class="btn btn-primary" input type="submit" value="Submit" style="margin:5px;" />
           </form>
      </div>
    </div>
  </div>
</div>

@if (Request.Method == "POST")
 {
   <div class="col-sm-6">
    <div class="card text-white bg-secondary mb-3">
      <div class="card-body">
        <h5 class="card-title">Results</h5>
            <div>
                <span id = "Categ" >@Html.DisplayNameFor(m => m.BP.Category)</span>
                <span id = "ActCategory" >@Html.DisplayFor(m => m.BP.Category)</span>
            </div>
                <div>
                    <span id="HRCategory">@Html.DisplayFor(m => m.BP.HRCategory)</span>
                </div>
      </div>
    </div>
   </div>
 }

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}