@page
@model BPCalculator.Pages.BloodPressureModel

@{
    ViewData["Title"] = "Personel Health Checker";
    Layout = "_Layout";
}

<div class="row">
  <div class="col-sm-6" style="width: 25rem">
    <div class="card text-white bg-secondary mb-3">
      <div class="card-body">
        <h5 class="card-title">Personel Health Data</h5>
           <form method="post" id="form3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="HR.Age" class="control-label">Age</label>
                        <input asp-for="HR.Age" class="form-control" />
                    </div>
            <div class="form-group">
                <label asp-for="BP.Systolic" class="control-label"></label>
                <input asp-for="BP.Systolic" class="form-control" />
                <span asp-validation-for="BP.Systolic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BP.Diastolic" class="control-label"></label>
                <input asp-for="BP.Diastolic" class="form-control" />
                <span asp-validation-for="BP.Diastolic" class="text-danger"></span>
            </div>
                    <div class="form-group">
                        <label asp-for="HR.Resting" class="control-label">Resting Heart Rate</label>
                        <input asp-for="HR.Resting" class="form-control" />
                    </div>
                    <div class="form-group">
                    </div>
            <div class="form-group">
            </div>
            <input class="btn btn-primary" input type="submit" value="Submit" style="margin:5px;" />
           </form>
      </div>
    </div>
  </div>
</div>

           @if (Request.Method == "POST")
            {
    <div>
        <span id = "Categ" >@Html.DisplayNameFor(m => m.BP.Category)</span>
        <span id = "ActCategory" >@Html.DisplayFor(m => m.BP.Category)</span>
    </div>
    
        
   

}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}